In [5]:
n = 5 
for i in range (n):
    for j in range (n):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [7]:
n = 5
for i in range (n):
    for j in range (i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [9]:
n = 5
for i in range (n):
    for j in range (i,n):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [12]:
# right sideed triangle
n = int(input("Enter the number of rows: "))
for i in range (n):
    for j in range (i,n):
        print(" ", end=" ")
    for k in range (i+1):
        print("*", end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [28]:
n = int(input("Enter the number of rows: "))
for i in range (n):# rows
    for j in range(i+1): # spaces
        print(" ", end=" ")
    for k in range (i,n):# stars
        print("*", end=" ")
    print() # new line

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
n = 5
for i in range(n):# rows
    for j in range (i+1): # spaces
        print(" ", end= " ")
    for k in range (i, n ): # columns 
        print(j,end = " ")
    print()

  0 0 0 0 0
    1 1 1 1
      2 2 2
        3 3
          4

In [24]:
# for pyramid or hill we print one less cloumn by redcing ay one loop by 1 
n = int(input("Enter the number of rows: "))
for i in range (n):
    for j in range(i,n):
        print(" ", end=" " )
    for k in range (i+1):
        print("*", end=" ")
    for j in range (i):
        print("*", end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [7]:
n = int(input("Enter no. of rows"))
for i in range (n):
    for j in range (i,n):
        print(" ",end = " ")
    for j in range (i+1 ):
        print("*",end = " ")
    for j in range (i):
        print("*",end = " ")
    print()
for i in range (n):
    for j in range (i+1):
        print(' ', end = " ")
    for j in range (i, n-1):
        print("*",end = " ")
    for j in range (i,n):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [42]:
n = int(input("Enter row no."))
for i in range (n):
    for j in range (i+1):
        print("",end=" ")
    for j in range (i , n-1):
        print("*",end ='')
    for j in range (i,n):
        print ("*",end = "")
    print()

 *********
  *******
   *****
    ***
     *

In [2]:
n = int(input("Enter the number of rows: "))
for i in range (n):
    for j in range(i,n):
        print(" ", end=" " )
    for j in range (i+1):
        print("*", end=" ")
    for j in range (i):
        print("*", end=" ")
    print()
for i in range (n):
    for j in range (i+1):
        print(" ",end=" ")
    for j in range (i , n-1):
        print("*",end =' ')
    for j in range (i,n):
        print ("*",end = " ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [12]:
# Type your code here
total_marks = 0
num_subjects = 0

while num_subjects> 7 :
    marks = float(input("Enter marks for subject: "))
    total_marks += marks
    num_subjects += 1

    choice = input("Do you want to enter marks for another subject? (y/n): ")
    if choice.lower() == 'n':
        break

if num_subjects > 0:
    average = total_marks / num_subjects
    print(f"The average marks of the student are: {average}")
else:
    print("No marks entered.")

No marks entered.

In [ ]:
# Type your code here
no = float(input()) #read the number with input() method
if no > 0 :
     print("the number is positive")
elif no < 0:
         print("the number is negative")
else :
        print("the number is zero")

the number is positive

In [8]:
print("Enter no. of days")
days = int(input())

years = days // 365 
weeks = (days % 365) // 7
days_remaining = days - years*365 - weeks*7
print('Years', years)
print('Weeks',weeks)
print('Days',days)

Enter no. of days
Years 1
Weeks 0
Days 365

In [9]:
person = 'Jeff'
pet_name = 'Rex'
pet_type = 'dog'

print(person, 'has a pet ', pet_type, 'and his name is ', pet_name)
print(f'{person} has a pet {pet_type} and his name is {pet_name}')

Jeff has a pet  dog and his name is  Rex
Jeff has a pet dog and his name is Rex